@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.stepsMsf {
  border-radius: 5px;
  width: fit-content;
  color: "[theme:white, default:#ffffff]";

  .steps {
    display: flex;

    .steps_wrapper{
      position:relative;
      display: flex;
      flex-direction: column;
      padding: 2px 0px;

      .step_hover{
        position: absolute;
        top:-15px;
        left: -30px;
        width: 100px;
        text-align: center;
        color: black;
      }

      .step_box{
        height: 30px;
        width: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;


          .step_label {
            text-align: center;
            width: 27px;
            font-size: 7px;
            line-height: 7px;
            padding: 0;
            margin: 0;
            white-space: normal;
            overflow-wrap: break-word !important;
          }

          .step_radio {
            margin: 0;
            outline: 0px !important;
            border: 0px !important;
            width: 20px;
            height: 20px;
            position: relative;
            z-index: 10;
            cursor: pointer;
          };

        }

      }
    }

    .steps_wrapper:hover {
      filter: brightness(115%);
    }
  

}

