@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.stepsMsf {
  border-radius: 5px;
  width: fit-content;
  color: "[theme:white, default:#ffffff]";

  .steps {
    display: flex;

    .steps_wrapper{
      display: flex;
      flex-direction: column;
      padding: 2px 0px;



      .step_box{
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;


          .step_label {
            font-size: 8px;
          }

          .step_radio {
            margin: 0;
            outline: 0px !important;
            border: 0px !important;
            width: 20px;
            height: 20px;
            cursor: pointer;
          };

          .step_connector {
            width: 10px;
            height: 3px;
            background-color: rgb(255, 255, 255);
          };

          .step_connector_invisible {
            width: 10px;
            height: 3px;
            background-color: rgba(121, 121, 121,0);
          }
          
          }

      }
    }

    .steps_wrapper:hover {
      filter: brightness(105%);
    }
  

}

