.libraryMsf {
  background-color: rgb(150, 150, 150);
  font-size: 0.6rem;
  color: white;
  text-align: center;
  padding: 0.5rem;
  cursor: copy;
  .test{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
  } 


}

.libraryMsf:hover {
  background-color: rgb(165, 165, 165);
}