.stepsMsf {
  position: relative;
  display:flex;
  align-items: center;
  padding: 2px 0px;
  width: fit-content;
  display: flex;

  .step_box {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;

    .greyed {
      filter: grayscale(100%);
    };

    .saturated {
      filter: saturate(1.2)
    }

    .step_arrow {
      position: relative;
      height: 20px;
      max-width: 60px;
      min-width: 60px;
      display: flex;
    };

    .arrow_tip {
      width: 14.14px;
      height: 14.14px;
      transform-origin: center;
      transform: rotate(45deg);
      position: absolute;
      border-radius: 0 3px 0 0;
      left: 52px;
      z-index: 1;
      border-top: 1px solid white;
      border-right: 1px solid white;
    };

    .arrow_text{
      background-color: transparent;
      position: absolute;
      left: 12px;
      text-align: center;
      word-break: break-word !important;
      overflow-wrap: break-word !important;
      z-index: 2;
    };

      .text {
        text-align: left;
        width: 50px;
        font-size: 10px;
        line-height: 10px;
        padding: 0;
        margin: 0;
        white-space: normal;
        overflow-wrap: break-word !important;
      }

  .step_box:hover {
    filter: brightness(110%);
  }

  }
  
  

 

}

/*filter: saturate(30%);*/