.stepsMsf {
  position: relative;
  padding: 2px 0px;
  width: fit-content;
  color: "[theme:white, default:#ffffff]";
  padding: 0.5rem;
  display: flex;

  
  .arrow_tip_front {
    position:absolute;
    left: 5px;
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid rgb(255, 255, 255);
    z-index: 4;
  }

  .step_arrow {
    position: relative;;
    height: 30px;
    max-width: 80px;
    min-width: 80px;
    cursor: pointer;
    display: flex;

    .arrow_text{
      position: relative;
      text-align: center;
      line-height: 30px;
      width: fit-content;
      z-index: 3;
      span {
        position: relative;
        font-size: 12px;
        left: 16px
      }
    };

    .arrow_tip {
      position:relative;
      left:15px;
      width: 0; 
      height: 0; 
      border-top: 15px solid red;
      border-bottom: 15px solid red;
      border-left: 15px solid transparent;
      z-index: 2;
    };

    .arrow_tip_below {
      position:absolute;
      right: -17px;
      width: 0; 
      height: 0; 
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-left: 15px solid rgb(255, 255, 255);
      z-index: 1;
    }

  }

  .step_arrow:hover {
    filter: brightness(110%);
  }
  
}

